*,*:after, *:before{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

#containerPreloader{
	background-color: #2B2B2B;
	height: 100%;
	width: 100%;
	position: fixed;
	transition: all 1s ease;
	z-index: 10000;
}
.titleIntro{
	top: 150px;
	position: relative;
}

#preloader{
	border:3px solid #ffffff;
	border-top-color: #FFC107; 
	border-top-style: groove;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	animation: girar 1s linear infinite;
}

@keyframes girar {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.containerSearch{
	background-color: #2B2B2B;
}
.textSize{
	font-size: 30px;
}
.modal-content{
	padding: 20px !important;
}

.infoModalRest{
	color: #5D6770;
}

.titleRestModal{

}

